#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}
#mycarousel{
   background-color: crimson; 
}
#mycarousal img{
    height: 300px;
    margin-top: 35px;
}
.carousal-inner p{
    margin-bottom: 15px;
    margin-top: 15px;
    color: azure;
    font-size: 30px;
}
/*Start your code from here */